<template name="sidebar">
  <div class="ui visible inverted left vertical sidebar menu" id="toc">
    <div class="item">
      <div class="ui inverted">
        <i class="diamond icon"></i>
        {{appName}}
      </div>
    </div>
    <div class="item">
      <div class="ui inverted">
        <i class="comment outline icon"></i>
        Rooms
      </div>
      <div class="menu">
        <a class="item" href="#">hurr</a>
        <a class="item active" href="#">durr</a>
        <a class="item" href="#">toplel</a>
      </div>
    </div>
    <div class="item">
      <div class="ui inverted">
        <a class="sign-out" href="/">
          <i class="sign out icon"></i>
          Sign out
        </a>
      </div>
    </div>
  </div>
</template>
