<template name="sidebar">
  <div class="ui visible inverted left vertical sidebar menu" id="toc">
    <div class="item">
      <div class="ui inverted">
        <i class="diamond icon"></i>
        {{appName}}
      </div>
    </div>
    <div class="item">
      <div class="ui inverted">
        <i class="comment outline icon"></i>
        Rooms
      </div>
      <div class="menu">
        {{#each rooms}}
          <a class="item" href="#">{{name}}</a>
        {{/each}}

        <div class="ui fluid action input">
          <input type="text" placeholder="Room">
          <div class="ui fluid button new-room">Create</div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="ui inverted">
        <a class="sign-out" href="/">
          <i class="sign out icon"></i>
          Sign out
        </a>
      </div>
    </div>
  </div>
</template>
