<template name="room">
  {{> sidebar}}
  <div id="messages" class="main container">
    <h2 class="ui header">
      <i class="apple icon"></i>
      <div class="content">
        Room name
        <div class="sub header">This room is about cats.</div>
      </div>
    </h2>
    <div class="ui segment">
      asdasd<br>
      asdasf<br>
      cvxcv<br>
      xcv<br>
      sdfsdfsf<br>
      sdsdf<br>
    </div>
    <div class="ui fluid action input">
      <input type="text" placeholder="Message...">
      <div class="ui button">Send</div>
    </div>
  </div>
</template>
