<template name="room">
  {{> sidebar}}
  <div id="messages" class="main container">
    <h2 class="ui header">
      <i class="{{icon}} icon"></i>
      <div class="content">
        {{name}}
        <div class="sub header">{{description}}</div>
      </div>
    </h2>
    <div class="ui segment">
      {{#each messages}}
        {{name}}: {{text}}<br>
      {{/each}}
    </div>
    <div class="ui fluid action input">
      <input type="text" class="message-text" placeholder="Message...">
      <div class="ui button send-message">Send</div>
    </div>
  </div>
</template>
